{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Marks</title>
    <link rel="stylesheet" href="static/css/home.css">
    <link rel="stylesheet" href="static/css/student_mark.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="#">PROJECTSPHERE</a>
        </div>
        <ul class="nav-links">
            <li><a href="student_home">Home</a></li>
            <li><a href="view_calender">Calender</a></li>
            <li><a href="submit_resource">Resources</a></li>
            <!-- <li><a href="#">Account</a></li> -->
            <li><a href="logout_view">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Review Marks</h2>
        <table>
            <thead style="border: 2px solid orange;">
                <tr>
                    <th>Reviews</th>
                    <th colspan="1">Adithya M</th>
                    <th colspan="1">Anjitha G N</th>
                    <th colspan="1">Anju Biju</th>
                    <th colspan="1">Arunima S Babu</th>
                </tr>
                <tr>
                    <th></th>
                    <th>LBT21CS004</th>
                    <th>LBT21CS015</th>
                    <th>LBT21CS016</th>
                    <th>LBT21CS019</th> 
                </tr>
            </thead>
            <tbody style="border: 2px solid orange;">
                <!-- Sample data for weeks, replace with actual data -->
                <tr>
                    <td>Review 0</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>Review 1</td>
                    <!-- Add more data rows for each week -->
                    <td>17</td>
                  
                    <td>15</td>
                  
                    <td>18</td>
                   
                    <td>20</td>
                    
                </tr>
                <!-- Add more weeks as needed -->
                <tr>
                    <td>Review 3</td>
                    
                    <td>30</td>
                    
                    <td>35</td>
                  
                    <td>25</td>
                   
                    <td>30</td>
                </tr>
                <tr>
                    <td>Review 4</td>
                    <td>25</td>
                  
                    <td>25</td>
                   
                    <td>26</td>
                   
                    <td>27</td>
                    
                </tr>
                <tr>
                    <td>Report</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
