body {
    font-family: Arial, sans-serif;
    margin: 0;
    /* padding: 20px; */
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    margin: 3rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
a{
    list-style: none;
}
h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    /* background-color: #ff7504; */
    /* color: #fff; */
}

tr:nth-child(even) {
    /* background-color: #f2f2f2; */
}